doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Investment and Real Estate Development | Fresh Coast Capital
		link(rel='stylesheet', href='/public/stylesheets/app.css')
	body
		block content
		script(src='js/vendor/jquery.min.js')
		script(src='js/vendor/what-input.min.js')
		script(src='js/foundation.min.js')
		script.
			$(document).foundation();
