extends layout

block content
	section.about.content
		.row-header
			.columns.small-12
				h2 About Us
		.row
			.columns.small-12
				p
					strong We are
					|  an impact-driven investment and real estate development firm with an environmental and social mission. We were founded in 2014 with the mission of revitalizing post-industrial communities across the United States through innovative and sustainable investment solutions.
				p
					strong We work
					|  with our city partners to revitalize vacant and underutilized properties into green infrastructure and revenue-generating working landscapes such as tree farms and urban agriculture.  Our landscapes and related programming manage stormwater, revitalize neighborhoods, improve ecosystems, and increase land values.  Learn more about who we are and what we do with our brief video above.
				p
					strong Our team
					|  is led by a diverse team of professionals with backgrounds in investment management, community development, environmental science and policy, and tree farming.  We partner closely with industry leaders in stormwater design and installation. Based in Chicago, we are a certified DBE enterprise.
				p
					strong Our working landscapes
					|  are currently located in Gary and Elkhart, Indiana; Flint and Battle Creek, Michigan; Youngstown, Ohio; and Kansas City and St Louis, Missouri. 
	section.divider
	section.team.content
		.row-header
			.columns.small-12
				h2 Our Team
				
		//TODO - Get larger headshots to fill the weird large->medium gap
		.row.team-member
			.columns.small-12.medium-3.large-2
				img.thumb(src='/images/headshots/nicole-chavas.jpg')
			.columns.small-12.medium-9.large-10
				h3 Nicole Chavas, Co-Founder and CEO
				p Nicole is the CEO and Co-Founder of Fresh Coast Capital. Nicole has spent her career in finance and investment management, primarily at large institutional investment firms performing due diligence on alternative investments. Over the course of her career at institutions such as TIAA-CREF and Man Investments, she has conducted due diligence on 200+ global investment managers across all asset classes, including public equities, fixed income, hedge funds, private equity, venture capital and real assets. She has also spent significant time researching the opportunity to incorporate impact into a traditional investment portfolio.
				p Nicole is a CPA and earned her BBA and Masters of Accountancy from the University of Wisconsin-Madison and her MBA from Northwestern University’s Kellogg School of Management. She is an active angel investor in the impact space, recently allocating to start-ups focused on solving such critical issues as jail recidivism, food waste and autism education.
		.row.team-member
			.columns.small-12.medium-3.large-2
				img.thumb(src='/images/headshots/april-mendez.jpg')
			.columns.small-12.medium-9.large-10
				h3 April Mendez, Co-Founder and Director of Development
				p As Director of Development April is responsible for deal sourcing, deal management and community engagement. April is a social entrepreneur and community organizer with 13 years' startup experience. She co-founded Interfaith Youth Core (IFYC), a $4.5 million nonprofit that is transforming the way higher education engages religious diversity. She led organizational development for IFYC, created its signature programs and managed funding partnerships with institutions including the Tony Blair Faith Foundation, the Chicago Community Trust and the federal government. Prior to IFYC, she worked for the Steans Family Foundation and also founded an organization dedicated to developing social entrepreneurship among minority youth in some of Chicago's toughest neighborhoods.
				p April holds a B.A. from Carleton College and is pursuing a degree at the Kellogg School of Management at Northwestern University focusing on social innovation strategies including social finance.
		.row.team-member
			.columns.small-12.medium-3.large-2
				img.thumb(src='/images/headshots/laura-brenner-kimes.jpg')
			.columns.small-12.medium-9.large-10
				h3 Laura Brenner Kimes, Co-Founder and Director of Ecosystem Services
				p As Director of Ecosystem Services Laura is responsible for development of Fresh Coast’s ecosystem services product line. Laura’s career has focused on strategy and market creation for environment and energy firms. Most recently, Laura has worked for an energy efficiency firm reporting to the president’s office for policy and strategy. She has previously worked at Southern California Edison, US Department of Agriculture, the US Environmental Protection Agency, and the American Council On Renewable Energy (ACORE)’s Biomass Coordinating Council. In her early career, Laura gained much lab and field experience, including soil, water, air, and vegetation sampling, forestry, remote sensing, and GIS analysis.
				p Laura has a BS in Environmental Science and Policy with a concentration in Restoration and Management from the University of Maryland – College Park, a Project Management certificate from the California Institute of Technology, and an MBA from Northwestern University’s Kellogg School of Management.
		.row.team-member
			.columns.small-12.medium-3.large-2
				img.thumb(src='/images/headshots/david-chen.jpg')
			.columns.small-12.medium-9.large-10
				h3 Dave Chen, Chairman of the Board
				p Dave is the Chairman of the Board for Fresh Coast Capital. He is also the Principal and CEO of Equilibrium Capital. Dave leads the firm’s strategy and product development process. He also serves on Equilibrium’s Board of Directors.
				p Dave’s passion and commitment to sustainability is a result of his work in venture capital, regional economic development and climate change policy. In 2007, Dave saw sustainability trends that are re-shaping major commodity sectors, creating an economic value shift and an opportunity for market advantage. He formed Equilibrium Capital Group to be a global leader in sustainability-driven asset management for institutional investors that delivered both sustainable alpha and intentional positive impact on our community and environment.
				p Previously, Dave was a general partner at OVP Venture Partners (2000-2007). His investments at OVP include @once (acquired by InfoUSA), Ambric, Intelligent Results (acquired by First Data), Net6 (acquired by Citrix), Tzero and UXComm. He served on the board of @mobile prior to its acquisition by Software.com. Dave served on the board of HNC Software until it was merged with FICO in 2002 (NASDAQ:HNCS, now NYSE:FIC). Prior to OVP, Dave founded GeoTrust (acquired by VeriSign 2006) and The Ascent Group; was Vice President Marketing Mentor Graphics; was an associate at McKinsey & Company; and was an early team member at Solectron (1978-1985).
				p In addition to serving on the Fresh Coast board, Dave also serves as the following:
				ul
					li Board member GED, Inc. (Gerding Edlen)
					li Board member Biological Capital, LLC
					li Board member United Streetcar, LLC
					li Chairman of the Federal Reserve Bank of San Francisco’s Portland Branch
					li Board member of the National Collegiate Inventors & Innovators Alliance (NCIIA)
					li Board member of The Freshwater Trust
					li Board member of B Corp/B LAB
					li Board member of Volans
					li Advisory Board Member of the Oregon Investment Fund (OIF)
					li Governor-Appointed Chairman of the Oregon Innovation Council (2005-2011)
					li Chairman (2003-2009) of the Oregon Nanoscience and Microtechnologies Institute (ONAMI)
					li Chairman (2006) of the Oregon Entrepreneurs Forum
					li Faculty at the Kellogg School of Management at Northwestern University and the Graduate School of Business at Stanford University on the topic of sustainability and finance
				p Dave has a B.A. in biology, from the University of California, Berkeley and an MBA from the Kellogg School of Management at Northwestern University.
