div.reveal#form-modal(data-reveal='data-reveal')
	h3 Contact Us
	form(method='POST', action='/contact', data-abide='', novalidate='novalidate')
		.row
			.small-12.columns
				.alert.callout(data-abide-error='', role='alert', style='display: none;')
					p
							i.fa.fa-exclamation-triangle
							| &nbsp; There are some errors in your form.
		.row
			.small-12.columns
				label
					| *Contact Name:
					input#contactName(type='text', placeholder='Enter your primary contact', name='contactName', required='')
					small.form-error A primary contact is required.
		.row
			.small-12.columns
				label
					| *Organization:
					input#contactCompanyName(type='text', placeholder='Enter your organization name', name='contactOrgName', required='')
					small.form-error Organization name is required.	
		.row
			.small-12.columns
				label
					| *Email:
					input#contactEmail(type='email', placeholder='Enter your email address', name='contactEmail', required='', pattern='email')
					small.form-error Valid email is required.
					
		.row
			.small-12.columns
				label
					| Comments:
					textarea#contactComments(placeholder='Enter any other comments', name='contactComments')
					small.form-error Valid email is required.
				
		.row.hidden
			.small-12.columns
				.g-recaptcha(data-sitekey='6LcjsR8TAAAAAJIVK4qldsipo_Xa9cDgORnvdWv-')

		.row
			.small-12.columns
				small * indicates a required field
				button.small.button.float-right(type='submit') Submit
		button.close-button(data-close='', aria-label='Close modal', type='button')
			span(aria-hidden='true') &times;
		