extends layout

block content
	section.slideshow
		.grid
			.row
				.columns.small-12
					h1 We're Sorry
					p It appears the page you're looking for may not exist. Please try again, or go back to our 
						a(href="/") homepage
						| .
						
					p!= error