extends layout

block content
	.grid
		.row
			.columns.small-12
				//TODO - Get orbit info
				.orbit(role='region', aria-label='Favorite Space Pictures', data-orbit='', data-timer-delay='3000')
					ul.orbit-container
						button.orbit-previous
							span.show-for-sr Previous Slide
							| ◀︎
						button.orbit-next
							span.show-for-sr Next Slide
							| ▶︎
						li.is-active.orbit-slide
							img.orbit-image(src='//placehold.it/1200x400', alt='Space')
							figcaption.orbit-caption Space, the final frontier.
						li.orbit-slide
							img.orbit-image(src='//placehold.it/1200x400', alt='Space')
							figcaption.orbit-caption Lets Rocket!
						li.orbit-slide
							img.orbit-image(src='//placehold.it/1200x400', alt='Space')
							figcaption.orbit-caption Encapsulating
						li.orbit-slide
							img.orbit-image(src='//placehold.it/1200x400', alt='Space')
							figcaption.orbit-caption Outta This World
					nav.orbit-bullets
						button.is-active(data-slide='0')
							span.show-for-sr First slide details.
							span.show-for-sr Current Slide
						button(data-slide='1')
							span.show-for-sr Second slide details.
						button(data-slide='2')
							span.show-for-sr Third slide details.
						button(data-slide='3')
							span.show-for-sr Fourth slide details.
	section.divider
		.row
			.columns.small-12.large-8
				p.call-out Fresh Coast works in cities looking to revitalize. We currently operate in 7 cities across 4 states: Flint and Battle Creek Michigan, Gary and Elkhart Indiana, Youngstown Ohio, and Kansas City and St Louis Missouri.
			.columns.small-12.large-4
				img(src="/images/active-cities.png")
	section.news
		.grid
			.row-header
				.columns.small-12
					h2 News
			.row
				.columns.small-12.medium-12.large-5
					.row.news-item
						.columns.small-12.medium-4.img
							img(src='images/news/Allison-Long-KCStar.jpg')
							br
							p.caption Img: along@kcstar.org
						.columns.small-12.medium-8
							p.news-headline
								a(href='http://www.kansascity.com/news/local/article68450157.html', target='_blank') Tree farm will sprout on blighted urban KC land
							p.news-text
								| Chicago-based Fresh Coast Capital, which was promoting the urban tree farm concept with the Land Bank, announced last week that it has secured an initial $1 million investment...
								br
								a(href='http://www.kansascity.com/news/local/article68450157.html', target='_blank') Full Story
				.columns.small-12.medium-12.large-5
					.row.news-item
						.columns.small-12.medium-4.img
							img(src='images/news/treefarm1.JPG')
							br
							p.caption Img: abc12.com
						.columns.small-12.medium-8
							p.news-headline
								a(href='http://www.abc12.com/home/headlines/Effort-will-develop-vacant-lots-into-tree-farms-green-space-373400781.html') Investment will develop vacant lots into tree farms, green space
							p.news-text
								| Turning vacant land into viable green-space is the goal as a $1 million investment in six cities, including Flint, was announced by the White House on Wednesday....
								br
								a(href='http://www.abc12.com/home/headlines/Effort-will-develop-vacant-lots-into-tree-farms-green-space-373400781.html', target='_blank') Full Story
				.columns.small-12.medium-12.large-2
					aside.highlight 
						i.fa.fa-exclamation-circle(aria-hidden="true")  
						p In 2016, Fresh Coast will plant approximately 27,000 trees.