extends layout

block content
	section.slideshow
		.grid
			.row
				.columns.small-12
					//TODO - Create static image sets for small screens
					.orbit(role='region', aria-label='', data-orbit='', data-timer-delay='2500')
						ul.orbit-container
							li.orbit-slide
								img.orbit-image(src='/images/slideshow/slide-2-poplar-trees-md.jpg', alt='Land Program')
								figcaption.orbit-caption 
									span Fresh Coast’s Vacant Land Program partners with cities to install and finance park-like working landscapes that revitalize vacant land 
							li.orbit-slide
								img.orbit-image(src='/images/slideshow/test1.jpg', alt='Infrastructure Program')
								figcaption.orbit-caption 
									span Fresh Coast’s Vacant Land Program partners with cities to install and finance park-like working landscapes that revitalize vacant land 
							li.orbit-slide
								img.orbit-image(src='/images/slideshow/test2.jpg', alt='Infrastructure Program')
								figcaption.orbit-caption 
									span Fresh Coast’s Vacant Land Program partners with cities to install and finance park-like working landscapes that revitalize vacant land 
							li.orbit-slide
								img.orbit-image(src='/images/slideshow/test3.jpg', alt='Infrastructure Program')
								figcaption.orbit-caption 
									span Fresh Coast’s Vacant Land Program partners with cities to install and finance park-like working landscapes that revitalize vacant land 
							li.orbit-slide
								img.orbit-image(src='/images/slideshow/test4.jpg', alt='Infrastructure Program')
								figcaption.orbit-caption 
									span Fresh Coast’s Vacant Land Program partners with cities to install and finance park-like working landscapes that revitalize vacant land 
	section.divider
		.row
			.columns.small-12
				h2.center What we do
				p.call-out We are a mission driven project developer comprised of a experienced team of community organizers, engineers, environmental scientists, and finance professionals. We guide cities to achieve and implement their vision of comprehensive green infrastructure.
	section.divider.color-1
		.row
			.columns.small-12
				h2.center What we do
				p.call-out We are a mission driven project developer comprised of a experienced team of community organizers, engineers, environmental scientists, and finance professionals. We guide cities to achieve and implement their vision of comprehensive green infrastructure.
	section.divider.color-2
		.row
			.columns.small-12
				h2.center What we do
				p.call-out We are a mission driven project developer comprised of a experienced team of community organizers, engineers, environmental scientists, and finance professionals. We guide cities to achieve and implement their vision of comprehensive green infrastructure.
	section.divider.color-3
		.row
			.columns.small-12
				h2.center What we do
				p.call-out We are a mission driven project developer comprised of a experienced team of community organizers, engineers, environmental scientists, and finance professionals. We guide cities to achieve and implement their vision of comprehensive green infrastructure.
	section.four-column-colors
		h2.center Our Advantage.
		br
		.row
			.columns.small-12.medium-6.large-3
					h3.four-color-title Triple-Bottom Line Approach
					p.four-color-text Commitment to generating financial, social and environmental returns enables trusted relationships with cities and differentiates Fresh Coast from traditional private developers.
			.columns.small-12.medium-6.large-3
					h3.four-color-title Triple-Bottom Line Approach
					p.four-color-text Commitment to generating financial, social and environmental returns enables trusted relationships with cities and differentiates Fresh Coast from traditional private developers.
			.columns.small-12.medium-6.large-3
					h3.four-color-title Triple-Bottom Line Approach
					p.four-color-text Commitment to generating financial, social and environmental returns enables trusted relationships with cities and differentiates Fresh Coast from traditional private developers.
			.columns.small-12.medium-6.large-3
					h3.four-color-title Triple-Bottom Line Approach
					p.four-color-text Commitment to generating financial, social and environmental returns enables trusted relationships with cities and differentiates Fresh Coast from traditional private developers.
