extends layout

block content
	section.slideshow
		.grid
			.row
				.columns.small-12
					//TODO - Create static image sets for small screens
					.orbit(role='region', aria-label='Favorite Space Pictures', data-orbit='', data-timer-delay='4500')
						ul.orbit-container
							button.orbit-previous
								span.show-for-sr Previous Slide
								i.fa.fa-angle-left
							button.orbit-next
								span.show-for-sr Next Slide
								i.fa.fa-angle-right
							li.is-active.orbit-slide
								img.orbit-image(src='/images/slideshow/slide-1-fresh-coast-team-md.jpg', alt='Fresh Coast Capital Tagline')
								figcaption.orbit-caption Fresh Coast Capital: Revitalizing communities through innovative and sustainable investment solutions
							li.orbit-slide
								img.orbit-image(src='/images/slideshow/slide-2-poplar-trees-md.jpg', alt='Land Program')
								figcaption.orbit-caption Fresh Coast’s Vacant Land Program partners with cities to install and finance park-like working landscapes that revitalize vacant land 
							li.orbit-slide
								img.orbit-image(src='/images/slideshow/slide-3-urban-landscape-md.jpg', alt='Infrastructure Program')
								figcaption.orbit-caption Fresh Coast’s Green Infrastructure Program partners with cities to prioritize stormwater management alongside community, environmental and economic outcomes
						nav.orbit-bullets
							button.is-active(data-slide='0')
								span.show-for-sr Fresh Coast Capital: Revitalizing communities through innovative and sustainable investment solutions
								span.show-for-sr Current Slide
							button(data-slide='1')
								span.show-for-sr Fresh Coast’s vacant land program partners with cities to install and finance park-like working landscapes that revitalize vacant land
							button(data-slide='2')
								span.show-for-sr Fresh Coast’s green infrastructure program partners with cities to prioritize stormwater management alongside community, environmental and economic outcomes
	
	section.divider
		.row
			.columns.small-12
				p.call-out Fresh Coast Capital revitalizes unused urban land into networks of productive green space
					br
					| that help the community and promote resiliency. 
		
	section.community.last-page-item
		.grid
			.row-header
				.columns.small-12
					h2 What We Do
			.row
				.columns.small-12.large-4
					h3.bullet-header Help Your 
						br
						| City
					ul.custom-list
						li 
							i.fa.fa-plus-circle 
							| City saves money because Fresh Coast maintains properties
						li 
							i.fa.fa-plus-circle 
							| Operating business increases city tax base
						li 
							i.fa.fa-plus-circle 
							| Vacant land reuse creates livable spaces to attract and retain residents
						li 
							i.fa.fa-plus-circle 
							| City meets EPA regulations for stormwater management
				.columns.small-12.large-4
					h3.bullet-header Help Your 
						br
						| Community
					ul.custom-list
						li 
							i.fa.fa-plus-circle 
							| Jobs for local contractors, engineering partners, and nonprofit partners
						li 
							i.fa.fa-plus-circle 
							| Property value improvements
						li 
							i.fa.fa-plus-circle 
							| Lower crime
						li 
							i.fa.fa-plus-circle 
							| Health benefits 
						li 
							i.fa.fa-plus-circle 
							| Educational programming opportunities
						li 
							i.fa.fa-plus-circle 
							| Expanded urban agriculture

				.columns.small-12.large-4
					h3.bullet-header Help Your 
						br
						| Environment
					ul.custom-list
						li 
							i.fa.fa-plus-circle 
							| Stormwater and green infrastructure
						li 
							i.fa.fa-plus-circle 
							| Climate resiliency
						li 
							i.fa.fa-plus-circle 
							| Carbon sequestration
						li 
							i.fa.fa-plus-circle 
							| Soil &amp; groundwater remediation
							
	section.divider.infographic
							
	section.news
		.grid
			.row-header
				.columns.small-12
					h2 Recent News &amp; Press
			.row
				.columns.small-12.medium-12.large-5
					.row.news-item
						.columns.small-12.medium-4.img
							img(src='images/news/Kiya-Edwards-KSDK.jpg')
							br
							p.caption Img: ksdk.com
						.columns.small-12.medium-8
							p.news-headline
								a(href='http://www.ksdk.com/news/local/tree-farms-replace-vacant-land-in-st-louis/271978150', target="_blank") Tree farms replace vacant land in St. Louis
							p.news-text
								| Crews from Fresh Coast Capital and Jeffrey Boyd, ward 22 alderman, planted 1,500 hybrid poplars on 42 parcels of city-owned property....
								br
								a(href='http://www.ksdk.com/news/local/tree-farms-replace-vacant-land-in-st-louis/271978150', target='_blank') Full Story at KSDK.com &nbsp;
									i.fa.fa-external-link
				.columns.small-12.medium-12.large-5
					.row.news-item
						.columns.small-12.medium-4.img
							img(src='images/news/Maria-Altman-STLPR.jpg')
							br
							p.caption Img: Maria Altman, St. Louis Public Radio
						.columns.small-12.medium-8
							p.news-headline
								a(href='http://news.stlpublicradio.org/post/st-louis-takes-new-look-old-problem-what-do-vacant-land-and-abandoned-buildings', target='_blank') St. Louis takes new look at old problem
							p.news-text
								| The Land Reutilization Authority owns more than 11,000 parcels in the city of St. Louis. It’s a land mass roughly the size of Forest Park....
								br
								a(href='http://news.stlpublicradio.org/post/st-louis-takes-new-look-old-problem-what-do-vacant-land-and-abandoned-buildings', target='_blank') Full Story at Saint Louis Public Radio &nbsp;
									i.fa.fa-external-link
				.columns.small-12.medium-12.large-2
					aside.highlight 
						i.fa.fa-exclamation-circle(aria-hidden="true")  
						p In 2016, Fresh Coast will plant approximately 27,000 trees.
			.row
				.columns.small-6.small-offset-2
					hr.news-divide
					
			.row
				
				.columns.small-12.medium-12.large-5.end
					.row.news-item
						.columns.small-12.medium-4.img
							img(src='images/news/Michigan-Municipal-League.jpg')
							br
							p.caption Img: Michigan Municipal League/Flickr
						.columns.small-12.medium-8
							p.news-headline
								a(href='http://e360.yale.edu/feature/greening_rust_belt_cities_detroit_gary_indiana/2999/', target='_blank') Hard-Pressed Rust Belt Cities 
									| Go Green to Aid Urban Revival
							p.news-text
								| Gary, Indiana is joining Detroit and other fading U.S. industrial centers in an effort to turn abandoned neighborhoods and factory sites into gardens, parks, and forests.....
								br
								a(href='http://e360.yale.edu/feature/greening_rust_belt_cities_detroit_gary_indiana/2999/', target='_blank') Full Story at Yale Environment 360 &nbsp;
									i.fa.fa-external-link
			.row
				.columns.small-12.med-10.end
					a.button.ghost.expanded(href='/press')
						| See All Fresh Coast Capital News 
	