extends layout

block content
	section.slideshow
		.grid
			.row
				.columns.small-12
					//TODO - Create static image sets for small screens
					.orbit(role='region', aria-label='Favorite Space Pictures', data-orbit='', data-timer-delay='4500')
						ul.orbit-container
							button.orbit-previous
								span.show-for-sr Previous Slide
								i.fa.fa-angle-left
							button.orbit-next
								span.show-for-sr Next Slide
								i.fa.fa-angle-right
							li.is-active.orbit-slide
								img.orbit-image(src='/images/slideshow/slide-1-fresh-coast-team.jpg', alt='Fresh Coast Capital Tagline')
								figcaption.orbit-caption Fresh Coast Capital: Revitalizing communities through innovative and sustainable investment solutions
							li.orbit-slide
								img.orbit-image(src='/images/slideshow/slide-2-poplar-trees.jpg', alt='Land Program')
								figcaption.orbit-caption Fresh Coast’s Vacant Land Program partners with cities to install and finance park-like working landscapes that revitalize vacant land 
							li.orbit-slide
								img.orbit-image(src='/images/slideshow/slide-3-urban-landscape.jpg', alt='Infrastructure Program')
								figcaption.orbit-caption Fresh Coast’s Green Infrastructure Program partners with cities to prioritize stormwater management alongside community, environmental and economic outcomes
						nav.orbit-bullets
							button.is-active(data-slide='0')
								span.show-for-sr Fresh Coast Capital: Revitalizing communities through innovative and sustainable investment solutions
								span.show-for-sr Current Slide
							button(data-slide='1')
								span.show-for-sr Fresh Coast’s vacant land program partners with cities to install and finance park-like working landscapes that revitalize vacant land
							button(data-slide='2')
								span.show-for-sr Fresh Coast’s green infrastructure program partners with cities to prioritize stormwater management alongside community, environmental and economic outcomes
	section.divider
		.row
			.columns.small-12
				p.call-out Fresh Coast Capital revitalizes unused urban land into networks of productive green space
					br
					| that help the community and promote resiliency. 
	section.news
		.grid
			.row-header
				.columns.small-12
					h2 Recent News &amp; Press
			.row
				.columns.small-12.medium-12.large-5
					.row.news-item
						.columns.small-12.medium-4.img
							img(src='images/news/Allison-Long-KCStar.jpg')
							br
							p.caption Img: along@kcstar.org
						.columns.small-12.medium-8
							p.news-headline
								a(href='http://www.kansascity.com/news/local/article68450157.html', target='_blank') Tree farm will sprout on blighted urban KC land
							p.news-text
								| Chicago-based Fresh Coast Capital, which was promoting the urban tree farm concept with the Land Bank, announced last week that it has secured an initial $1 million investment...
								br
								a(href='http://www.kansascity.com/news/local/article68450157.html', target='_blank') Full Story at KansasCity.com &nbsp;
									i.fa.fa-external-link
				.columns.small-12.medium-12.large-5
					.row.news-item
						.columns.small-12.medium-4.img
							img(src='images/news/treefarm1.JPG')
							br
							p.caption Img: abc12.com
						.columns.small-12.medium-8
							p.news-headline
								a(href='http://www.abc12.com/home/headlines/Effort-will-develop-vacant-lots-into-tree-farms-green-space-373400781.html') Investment will develop vacant lots into tree farms, green space
							p.news-text
								| Turning vacant land into viable green-space is the goal as a $1 million investment in six cities, including Flint, was announced by the White House on Wednesday....
								br
								a(href='http://www.abc12.com/home/headlines/Effort-will-develop-vacant-lots-into-tree-farms-green-space-373400781.html', target='_blank') Full Story at ABC12.com &nbsp;
									i.fa.fa-external-link
				.columns.small-12.medium-12.large-2
					aside.highlight 
						i.fa.fa-exclamation-circle(aria-hidden="true")  
						p In 2016, Fresh Coast will plant approximately 27,000 trees.
			.row
				.columns.small-6.small-offset-2
					hr.news-divide
			.row
				.columns.small-12.medium-12.large-5
					.row.news-item
						.columns.small-12.medium-4.img
							img(src='images/news/FreshCapitalTrees.jpg')
							br
							p.caption Img: businessjournaldaily.com
						.columns.small-12.medium-8
							p.news-headline
								a(href='http://businessjournaldaily.com/fresh-coast-capital-to-reclaim-city-park-lands', target='_blank') Fresh Coast Capital to Reclaim City Park Lands
							p.news-text
								| Fresh Coast Capital announced Thursday that the $1 million fund would invest in 60 acres of pilot projects in Youngstown, St. Louis, Kansas City, Mo., Elkhart, Ind., and Battle Creek and Flint, Mich....
								br
								a(href='http://businessjournaldaily.com/fresh-coast-capital-to-reclaim-city-park-lands', target='_blank') Full Story at BusinessJournalDaily.com &nbsp;
									i.fa.fa-external-link
				.columns.small-12.medium-12.large-5.end
					h3.bullet-header Guest Post
					p.news-headline
						a(href='http://herahub.com/magazine/4-go-green-tips-earth-day-2016-laura-brenner-kimes') 4 Tips to Help You Go Green for Earth Day 2016
					p.news-text
						| Want to do your part to help this Earth Day? There are many things you can do. Success is not all-or-nothing.
						br
						a(href='http://herahub.com/magazine/4-go-green-tips-earth-day-2016-laura-brenner-kimes', target='_blank') Full Story at HeraHub.com &nbsp;
							i.fa.fa-external-link
			.row
				.columns.small-10.end
					a.button.ghost.expanded(href='/press')
						| See All Fresh Coast Capital News 
	section.divider.infographic
		
	section.community.last-page-item
		.grid
			.row-header
				.columns.small-12
					h2 What We Do
			.row
				.columns.small-12.large-4
					h3.bullet-header Help Your 
						br
						| City
					ul.custom-list
						li 
							i.fa.fa-plus-circle 
							| City saves money because Fresh Coast maintains properties
						li 
							i.fa.fa-plus-circle 
							| Operating business increases city tax base
						li 
							i.fa.fa-plus-circle 
							| Vacant land reuse creates livable spaces to attract and retain residents
						li 
							i.fa.fa-plus-circle 
							| City meets EPA regulations for stormwater management
				.columns.small-12.large-4
					h3.bullet-header Help Your 
						br
						| Community
					ul.custom-list
						li 
							i.fa.fa-plus-circle 
							| Jobs for local contractors, engineering partners, and nonprofit partners
						li 
							i.fa.fa-plus-circle 
							| Property value improvements
						li 
							i.fa.fa-plus-circle 
							| Lower crime
						li 
							i.fa.fa-plus-circle 
							| Health benefits 
						li 
							i.fa.fa-plus-circle 
							| Educational programming opportunities
						li 
							i.fa.fa-plus-circle 
							| Expanded urban agriculture

				.columns.small-12.large-4
					h3.bullet-header Help Your 
						br
						| Environment
					ul.custom-list
						li 
							i.fa.fa-plus-circle 
							| Stormwater and green infrastructure
						li 
							i.fa.fa-plus-circle 
							| Climate resiliency
						li 
							i.fa.fa-plus-circle 
							| Carbon sequestration
						li 
							i.fa.fa-plus-circle 
							| Soil &amp; groundwater remediation