extends layout

block content
	section.header
		img(src="/images/header-cropped.jpg")
		div.slideOverlay
			p We are a mission driven project developer comprised of a experienced team of community organizers, engineers, environmental scientists, and finance professionals.
			p We guide cities to achieve and implement their vision of comprehensive green infrastructure.
								
	section.divider
		.row
			.columns.small-12
				h2.center The impact we seek
				
	section.column-colors
		.row(data-equalizer, data-equalize-by-row="true", id="boxes")
			.columns.three(data-equalizer-watch)
					h3.color-title Strengthened Community
					p.color-text Our projects include community-oriented designs and programming, which increases pride and engagement among community members
			.columns.three(data-equalizer-watch)
					h3.color-title Shared Prosperity
					p.color-text Our low-cost financing and commitment to local hiring improves economic outcomes for residents, neighborhoods and municipal governments
			.columns.three(data-equalizer-watch)
					h3.color-title Ecological Health
					p.color-text Our turnkey green stormwater infrastructure projects improve water, soil and air quality while helping communities manage flooding and other impacts
	
	section.divider.color-2
		.row
			.columns.small-12
				h2.center What we do
	
	section
		.row
			.columns.small-6
				h3.color-green We develop and finance community-focused turnkey green infrastructure
				p Green infrastructure for stormwater management provides significant cost savings, revitalizes communities, and provides resiliency and stability.
				p We design, develop, finance, and maintain projects from start-to-finish as a long-term partner. 
				p We engage your community, from residents and local businesses to nonprofits and city officials, throughout the process of planning and implementation. 
			.columns.small-6
				img(src="/images/delivery.jpg")

	section.divider.color-3
		.row
			.columns.small-12
				h2.center Benefits
	section.benefits
		.row
			.columns.small-6
				h5.center Environmental
			.columns.small-6
				h5.center Social
		.row
			.columns.small-12
				img(src="/images/benefits.jpg")
				
	section.divider.color-3
		.row
			.columns.small-12
				p.call-out We’re proud to be a Certified B Corporation® and a woman-owned business.