doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Fresh Coast Capital: vacant land management, green stormwater infrastructure, conservation finance, impact investment, and real estate development
		link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
		link(rel='stylesheet', href='/stylesheets/app.css')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-50118578-1', 'auto');
			ga('send', 'pageview');
	body
		.wrapper
			section.header
				.grid
					.row
						.columns.small-12
							header.title-bar(data-responsive-toggle="main-nav", data-hide-for="medium")
								button.menu-icon(type="button", data-toggle='data-toggle')
								.title-bar-title Menu
							header.top-bar#main-nav
								.top-bar-title
									a(href="/")
										img.logo(alt='Fresh Coast Capital Logo', src='/images/FreshCoastCapital-Logo.png')
								.top-bar-left
									nav.main-nav
										ul.vertical.medium-horizontal.menu
											li(class=(title === 'Home' ? 'active' : ''))
												a(href='/') Home
											li(class=(title === 'About Us' ? 'active' : ''))
												a(href='/about-us') About Us
											li(class=(title === 'Projects' ? 'active' : ''))
												a(href='/about-us/projects') Projects
											li(class=(title === 'Press' ? 'active' : ''))
												a(href='/press') Press
								.top-bar-right
									a.button.ghost(data-open='form-modal') Contact Us
			section.divider

			block content

			footer
				.grid.reversed
					.row
						.columns.small-12.medium-4
							ul.site-map
								li
									a(href="/") Home
								li
									a(href="/about-us") About Us
									ul
										li
											a(href="/about-us") Our Team
								li
									a(href="/about-us/projects") Projects
								li
									a(href="/") Press
						.columns.small-12.medium-4.end
							ul.site-map
								li Fresh Coast Capital
								li 318 W. Adams 16th Floor
								li Chicago, IL 60606
								li (312) 884-1374
							p Copyright &copy;2016, Fresh Coast Capital
						.columns.small-12.medium-4
							ul.site-map
								li
									a.button.ghost(data-open='form-modal') Contact Us
			
			include contact-form.jade
		
		script(src='https://www.google.com/recaptcha/api.js')
		script(src='/javascripts/script.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js')
		script.
			$(document).foundation();
