extends layout

block content
	section.press.content
		.row-header
			.columns.small-12
				h2 News and Press
		.row
			.columns.small-12
				ul
					li Press Release: 
						a(target='_blank', href="/files/Press-Release-2017-02-12.pdf") "Fresh Coast Announces Two New Additions	to Their Management Team." &nbsp;
							i.fa.fa-external-link
				   li Press Release: 
						a(target='_blank', href="/files/Press-Release-2016-09-08.pdf") "Fresh Coast Named as Conservation Innovation Grant Recipient by Agriculture Secretary Tom Vilsack" &nbsp;
							i.fa.fa-external-link
					li Journal Star:
						a(target='_blank', href='http://www.pjstar.com/news/20160909/peoria-and-partners-get-1-million-stormwater-innovation-grant') "Peoria and partners get $1 million stormwater innovation grant" &nbsp;
							i.fa.fa-external-link
					li KSDK.com (with video): 
						a(target='_blank', href="http://www.ksdk.com/news/local/tree-farms-replace-vacant-land-in-st-louis/271978150") "Tree farms replace vacant land in St. Louis" &nbsp;
							i.fa.fa-external-link
					li St Louis Public Radio: 
						a(target='_blank', href='http://news.stlpublicradio.org/post/st-louis-takes-new-look-old-problem-what-do-vacant-land-and-abandoned-buildings') "St. Louis takes new look at old problem: What to do with vacant land and abandoned buildings" &nbsp;
							i.fa.fa-external-link
					li Yale Environment 360: 
						a(target='_blank', href='http://e360.yale.edu/feature/greening_rust_belt_cities_detroit_gary_indiana/2999/') "Hard-Pressed Rust Belt Cities Go Green to Aid Urban Revival" &nbsp;
							i.fa.fa-external-link
					li ABC 12 Flint (with video): 
						a(target='_blank', href='http://www.abc12.com/home/headlines/Effort-will-develop-vacant-lots-into-tree-farms-green-space-373400781.html') "Effort will develop vacant lots into tree farms, green space" &nbsp;
							i.fa.fa-external-link
					li St Louis Business Journal: 
						a(target='_blank', href='http://www.bizjournals.com/stlouis/morning_call/2016/03/city-gives-company-vacant-lots-to-plant-trees.html') "City gives company vacant lots to plant trees" &nbsp;
							i.fa.fa-external-link
					li Youngstown Vindicator: 
						a(target='_blank', href='http://www.vindy.com/news/2016/mar/27/youngstown-share-1m-grant-improve-land-use/?nw#sthash.SXVkJqYu.dpuf') "Youngstown to share in $1M grant to improve land use"   &nbsp;
							i.fa.fa-external-link
					li The Kansas City Star: 
						a(target='_blank', href='http://www.kansascity.com/news/local/article68450157.html') "Tree farm will sprout on blighted urban KC land" &nbsp;
							i.fa.fa-external-link
					li The Elkhart Truth: 
						a(target='_blank', href='http://www.elkharttruth.com/hometown/elkhart/2016/03/24/Elkhart-poplar-tree-project-to-share-1-million-investment-aimed-at-revitalizing-vacant-urban-land.html') "Elkhart poplar tree project to share $1 million national investment aimed at revitalizing vacant urban land" &nbsp;
							i.fa.fa-external-link
					li CBS WKBN Youngstown (with video): 
						a(target='_blank', href='http://wkbn.com/2016/03/26/development-firm-invests-in-revitalizing-youngstown-parks/') "Development firm invests in revitalizing Youngstown park" &nbsp;
							i.fa.fa-external-link
					li CBS KMOV St Louis (with video): 
						a(target='_blank', href='http://www.kmov.com/story/31559151/effort-will-develop-vacant-lots-into-tree-farms-green-space') "Effort will develop vacant lots into tree farms, green space"
					li NBC KDSK St Louis (with video): 
						a(target='_blank', href='http://www.ksdk.com/news/local/vacant-lots-in-6-cities-to-become-tree-farms-ag-plots/100150003') "Vacant lots in 6 cities to become tree farms, ag plots"
					li Fox 2 Now St Louis (with video): 
						a(target='_blank', href='http://fox2now.com/2016/03/24/effort-to-develop-vacant-st-louis-lots-into-tree-farms-green-space/') "Effort to develop vacant St. Louis lots into tree farms, green space"
					li Fox 17 Battle Creek (with video): 
						a(target='_blank', href='http://fox17online.com/2016/03/24/battle-creek-gets-grant-to-plant-trees-remove-blight/') Video and article here
					li The Missouri Times: 
						a(target='_blank', href='http://themissouritimes.com/27918/st-louis-named-as-one-of-six-cities-for-vacant-land-revitalization/') "St Louis, Kansas City named as two of six cities for vacant land revitalization"
					li Battle Creek Enquirer: 
						a(target='_blank', href='http://themissouritimes.com/27918/st-louis-named-as-one-of-six-cities-for-vacant-land-revitalization/') "Battle Creek tree project part of $1 million initiative"
					li Associated Press: 
						a(target='_blank', href='http://stlouis.cbslocal.com/2016/03/24/vacant-lots-in-6-cities-to-become-tree-farms-ag-plots/') "Vacant lots in 6 cities to become tree farms, ag plots" 
						| (CBS Local), other pick up from 
						a(target='_blank', href='http://www.columbiatribune.com/business/vacant-lots-in-six-cities-to-become-tree-farms-ag/article_c7a52eca-9a60-578c-afa6-d9de46a9a64d.html') Colombia Daily Tribune &nbsp;
							i.fa.fa-external-link
						|, 
						a(target='_blank', href='http://www.wandtv.com/story/31559396/vacant-lots-in-6-cities-to-become-tree-farms-ag-plots') WAND-TV &nbsp;
							i.fa.fa-external-link
						|, 
						a(target='_blank', href='http://news.google.com/news/url?sr=1&sa=t&ct2=us%2F0_0_s_1_0_t&usg=AFQjCNGlGHUTovMwqnXUDwg499yRfnk82Q&did=6d61920c47a3827b&cid=52779068600373&ei=4Uf0VvCcBsOkhAG0zJSACA&rt=STORY&vm=STANDARD&url=http%3A%2F%2Fwww.wrex.com%2Fstory%2F31559396%2Fvacant-lots-in-6-cities-to-become-tree-farms-ag-plots') WREX-TV
						|, 
						a(target='_blank', href='http://www.953mnc.com/News/Local/2016/03/25/Vacant-lots-in-Elkhart-5-other-cities-to-become-tree-farms-ag-plots.html') KTRS &nbsp;
							i.fa.fa-external-link
						|, 
						a(target='_blank', href='http://news.google.com/news/url?sr=1&sa=t&ct2=us%2F0_0_s_4_0_t&usg=AFQjCNHIlIZlXQfco6D7B-vuQDcmmhmPMQ&did=842dcfe35e48d4b6&cid=52779068600373&ei=4Uf0VvCcBsOkhAG0zJSACA&rt=STORY&vm=STANDARD&url=http%3A%2F%2Fwww.theeagle.com%2Fnews%2Fnation%2Fvacant-lots-in-cities-to-become-tree-farms-ag-plots%2Farticle_d050308a-edec-5bbf-b8f1-df004879ac9c.html') College Station Eagle &nbsp;
							i.fa.fa-external-link
						|, 
						a(target='_blank', href='http://news.google.com/news/url?sr=1&sa=t&ct2=us%2F0_0_s_5_0_t&usg=AFQjCNHjUKwun1zofxD5AHM0J_fZYE-upA&did=d496db1d76bef9c2&cid=52779068600373&ei=4Uf0VvCcBsOkhAG0zJSACA&rt=STORY&vm=STANDARD&url=http%3A%2F%2Fwww.ccenterdispatch.com%2Fnews%2Fstate%2Farticle_ce304799-ebc3-5015-97e6-15df45366bdf.html') Clay Center Dispatch &nbsp;
							i.fa.fa-external-link
						|, 
						a(target='_blank', href='http://news.google.com/news/url?sr=1&sa=t&ct2=us%2F0_0_s_6_0_t&usg=AFQjCNFD2o11yl6RiRDSRNjicEoqkwkNVw&did=97026136d04f4768&cid=52779068600373&ei=4Uf0VvCcBsOkhAG0zJSACA&rt=STORY&vm=STANDARD&url=http%3A%2F%2Fwww.argus-press.com%2Fnews%2Fstate_news%2Farticle_e5e76acb-214e-558c-9f7c-f5f45d609b5d.html') Argus Press &nbsp;
							i.fa.fa-external-link
						|, 
						a(target='_blank', href='http://news.google.com/news/url?sr=1&sa=t&ct2=us%2F0_0_s_7_0_t&usg=AFQjCNEW5fNxR-9B3vrOcfXc39QShuHT0A&did=6de00742dcb30b7&cid=52779068600373&ei=4Uf0VvCcBsOkhAG0zJSACA&rt=STORY&vm=STANDARD&url=http%3A%2F%2Fwww.kmov.com%2Fstory%2F31559151%2Feffort-will-develop-vacant-lots-into-tree-farms-green-space') KMOV &nbsp;
							i.fa.fa-external-link
						|, 
						a(target='_blank', href='http://www.therepublic.com/view/story/09e40778377d4e05aea2372155e3e365/MO--Urban-Tree-Farm') The Republic &nbsp;
							i.fa.fa-external-link
						|, 
						a(target='_blank', href='http://www.greenfieldreporter.com/view/story/09e40778377d4e05aea2372155e3e365/MO--Urban-Tree-Farm') Greenfield Daily Reporter &nbsp;
							i.fa.fa-external-link
						|, 
						a(target='_blank', href='http://news.google.com/news/url?sr=1&sa=t&ct2=us%2F0_0_s_21_0_t&usg=AFQjCNGPB_wjtlX28CKw6BrL9nmy6qP2Ew&did=177ca997777e58e&cid=52779068600373&ei=4Uf0VvCcBsOkhAG0zJSACA&rt=STORY&vm=STANDARD&url=http%3A%2F%2Fwww.whio.com%2Fap%2Fap%2Findiana%2Feffort-will-develop-vacant-lots-into-tree-farms-gr%2FnqrkQ%2F') WHIO &nbsp;
							i.fa.fa-external-link
						|, 
						a(target='_blank', href='http://news.google.com/news/url?sr=1&sa=t&ct2=us%2F0_0_s_22_0_t&usg=AFQjCNH6bF26F9S_qlyHST_0PvtxpNFuIA&did=b1dfe1dc4c5e0a2e&cid=52779068600373&ei=4Uf0VvCcBsOkhAG0zJSACA&rt=STORY&vm=STANDARD&url=http%3A%2F%2Fwww.wnem.com%2Fstory%2F31558681%2Feffort-will-develop-vacant-lots-into-tree-farms-green-space') WNEM-Saginaw &nbsp;
							i.fa.fa-external-link
						|, and 
						a(target='_blank', href='https://news.google.com/news/story?cf=all&hl=en&pz=1&ned=us&q=Fresh+Coast+Capital&cf=all&ncl=dDUL1RQLzq0FRNMDQAgEacfAkaIyM&scoring=d') more &nbsp;
							i.fa.fa-external-link
						|.
					li St Louis Post-Dispatch: 
						a(target='_blank', href='http://www.stltoday.com/news/local/metro/tree-farms-coming-to-vacant-lots-in-st-louis/article_62e96b0d-5af3-59ca-b4d9-23078db8087e.html') "Tree Farms Coming To Vacant Lots in St Louis" &nbsp;
							i.fa.fa-external-link
					li Inside Indiana Business: 
						a(target='_blank', href='http://www.insideindianabusiness.com/story/31557777/elkhart-part-of-urban-revitalization-project') "Elkhart Part of Urban Revitalization Project" &nbsp;
							i.fa.fa-external-link
					li Battle Creek Enquirer: 
						a(target='_blank', href='http://www.battlecreekenquirer.com/story/news/local/2016/01/04/tree-project-could-restore-old-wilson-school-site/77413128/') "Tree Project Could Restore Old Wilson School Site" &nbsp;
							i.fa.fa-external-link
					li Kellogg School of Management: 
						a(target='_blank', href='http://www.kellogg.northwestern.edu/news_articles/2015/12012015-fresh-coast-capital.aspx') "Fresh Coast Capital Brings Green to the Rust Belt" &nbsp;
							i.fa.fa-external-link
					li Kansas City Star:  
						a(target='_blank', href='http://www.kansascity.com/news/government-politics/article35716974.html') "Land Bank: seeking productive uses for countless 'ugly duckling' properties" &nbsp;
							i.fa.fa-external-link
					li Michigan Entrepreneur: 
						a(target='_blank', href='http://www.michipreneur.com/15-disruptive-startups-in-southeast-michigan') Fresh Coast named one of 15 Disruptive Startups in Southeast Michigan &nbsp;
							i.fa.fa-external-link
					li Morgan Stanley: 
						a(target='_blank', href='http://www.morganstanley.com/articles/encouraging-the-future-leaders-of-sustainable-finance/') "Encouraging the Future Leaders of Sustainable Finance" &nbsp;
							i.fa.fa-external-link
					li Founders Nicole Chavas and Laura Brenner Kimes named 
						a(target='_blank', href='http://www.kellogg.northwestern.edu/departments/seek/alumni/youn-impact-scholars/youn-2015.aspx#Nicole') Kellogg Youn Impact Scholars &nbsp;
							i.fa.fa-external-link
						|; more details 
						a(target='_blank', href='http://www.kellogg.northwestern.edu/news_articles/2015/02112015-social-impact-youn-scholars.aspx') here &nbsp;
							i.fa.fa-external-link
							
					li Founder Nicole Chavas on CNBC (Video): 
						a(target='_blank', href='http://video.cnbc.com/gallery/?video=3000270133') "Investing in Brownfields" &nbsp;
							i.fa.fa-external-link
					li Huffington Post: 
						a(target='_blank', href='http://www.huffingtonpost.com/jessica-pothering/mbas-design-sustainable-i_b_5102685.html') "MBAs Design Sustainable Investment Funds" &nbsp;
							i.fa.fa-external-link
					li ImpactIQ: 
						a(target='_blank', href='http://impactiq.org/watch-wall-street-mba-students-design-funds-sustainable-investing/') "Watch Out, Wall Street: MBAs Design Sustainable Investing Funds" &nbsp;
							i.fa.fa-external-link
					li Yahoo Finance: 
						a(target='_blank', href='http://finance.yahoo.com/news/brownfield-remediation-proposal-wins-first-160000518.html') "Brownfield Remediation Proposal Wins First Place in Morgan Stanley Sustainable Investing Challenge" &nbsp;
							i.fa.fa-external-link
					li Morgan Stanley: 
						a(target='_blank', href='https://www.morganstanley.com/about/press/articles/6166aa36-e79a-4cd2-9c9d-34e01b78d934.html') "Morgan Stanley Sustainable Investing Challenge Calls for Students to Submit Innovative Investment Vehicles Seeking Both Positive Social or Environmental Impact and Competitive Financial Returns" &nbsp;
							i.fa.fa-external-link
					li Kellogg School of Management: 
						a(target='_blank', href='http://www.kellogg.northwestern.edu/news_articles/2014/04112014-morgan-stanley-sustainable.aspx') "Greening Brownfields" &nbsp;
							i.fa.fa-external-link
					li Quartz: 
						a(target='_blank', href='http://qz.com/198042/mbas-will-turn-brownfields-into-green-if-investors-help-them-out/') "MBAs will turn Brownfields into Green -- If investors help them out" &nbsp;
							i.fa.fa-external-link
					li Biofuels Digest: 
						a(target='_blank', href='http://www.biofuelsdigest.com/biobased/2014/04/08/brownfield-remediation-proposal-wins-first-place-in-morgan-stanley-sustainable-investing-challenge/') "Brownfield Remediation Project Wins First Place in Morgan Stanley Sustainable Investing Challenge" &nbsp;
							i.fa.fa-external-link