extends layout

block content
	section.project-types
		.grid
			.row-header
				.columns.small-12
					h2 Project Types
			.row
				.columns.small-12.medium-6.large-3
					img(src="/images/projects/urban-forestry.jpg")
					p.project-title Urban Forestry
				.columns.small-12.medium-6.large-3
					img(src="/images/projects/urban-agriculture.jpg")
					p.project-title Urban Agriculture
				.columns.small-12.medium-6.large-3
					img(src="/images/projects/stormwater-management.jpg")
					p.project-title Stormwater Management
				.columns.small-12.medium-6.large-3.end
					img(src="/images/projects/stormwater-management.jpg")
					p.project-title Wetlands
					
	section.project-intro
		.grid
			.row-header
				.columns.small-12
					h2 Current Partners
			.row
				.columns.small-12.medium-6.large-8
					p Fresh Coast works in cities looking to revitalize. We currently operate in 7 cities across 4 states: Flint and Battle Creek Michigan, Gary and Elkhart Indiana, Youngstown Ohio, and Kansas City and St Louis Missouri.
				.columns.small-12.image-container
					img(src="/images/active-cities.png")

	
	section.project-video
		.grid
			.row-header
				.columns.small-12
					h2 Mission Video
			.row
				.columns.small-12
					p See how one of Fresh Coast’s project types is creating impact in Flint, MI
					.videoWrapper
						iframe(src='https://player.vimeo.com/video/163877500', width='500', height='281', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')