extends layout

block content
  section.solutions.content
    section.divider.color-2
      .row
        .columns.small-12
          h1 Solutions
    section
      .row
        .columns.small-12
          h2.solutions-header Municipal Turnkey Green Infrastructure Solution
          p.size-up Green infrastructure is often the most cost-effective, benefit-rich municipal stormwater management solution, but upfront capital expenses, limited staff capacity and project complexity prevent many cities from achieving green infrastructure at scale. 
          p.size-up We absorb the project complexity, upfront costs and risk associated with green infrastructure, allowing cities to build more, better, faster. 
          h3.solutions-header Our Services
          p.size-up We manage each stage of the project lifecycle, maximizing long-term performance, cost effectiveness and impact: 
      .row
        .columns.small-12.medium-6.large-3
          img(src='')
          .services-header
            h4 Planning + Design
          p.size-up We:
          ul
            li.size-up Plan and design green infrastructure
            li.size-up Engage community in design and co-benefit maximization
            li.size-up Analyze impact
            li.size-up Select and manage contractors

        .columns.small-12.medium-6.large-3
          img(src='')
          .services-header
            h4 Financing
          p.size-up We:
          ul
            li.size-up Finalize ‘infrastructure as a service’ contract terms 
            li.size-up Leverage private capital from mission aligned investors
        .columns.small-12.medium-6.large-3
          img(src='')
          .services-header
            h4 Development + Construction
          p.size-up We:
          ul
            li.size-up Construct green infrastructure 
            li.size-up Engage community throughout construction
            li.size-up Perform quality assessment and validation
        .columns.small-12.medium-6.large-3
          img(src='')
          .services-header
            h4 Asset management
          p.size-up We:
          ul
            li.size-up Provide long-term operations and maintenance
            li.size-up Monitor and evaluate performance
            li.size-up Engage community in co-benefits programming
            li.size-up Provide impact reporting
      .row.contact-us
        .columns.small-12
          p.size-up To learn more, contact April Méndez, VP Programs at 
            a(href='mailto:april@freshcoastcapital.com') april (at) freshcoastcapital.com
            |. 
    section
      .row
        .columns.small-12
          h2.solutions-header Private Property Green Infrastructure Solution
          p.size-up Green infrastructure is a cost-saving, attractive, eco-friendly landscaping solution that offers many benefits for property owners and the surrounding community. Although many private and public properties are eligible for green infrastructure grants, few have readily available capital for upfront costs and the capacity to manage the design and construction process. 
          p.size-up In St. Louis and Philadelphia, we remove these barriers to make participation simple and risk-free.
          h3.solutions-header Our Services
          p.size-up We manage each stage of the project lifecycle, maximizing long-term performance, cost effectiveness and impact: 
      .row
        .columns.small-12.medium-6.large-3
          img(src='')
          .services-header
            h4 Eligibility
          p.size-up We:
          ul
            li.size-up Confirm geographic and grant program eligibility
            li.size-up Perform site assessments 
        .columns.small-12.medium-6.large-3
          img(src='')
          .services-header
            h4 Design Proposal
          p.size-up We:
          ul
            li.size-up Prepare custom site design proposals for customer approval 
        .columns.small-12.medium-6.large-3
          img(src='')
          .services-header
            h4 Project Application
          p.size-up We:
          ul
            li.size-up Prepare and submit applications for the appropriate grant program
        .columns.small-12.medium-6.large-3
          img(src='')
          .services-header
            h4 Construction + Maintenance Plan
          p.size-up We:
          ul
            li.size-up Construct green infrastructure 
            li.size-up Develop establishment and maintenance plans

      .row.contact-us
        .columns.small-12
          p.size-up To learn more, contact Ryan Wilson, Program Director at 
            a(href='mailto:ryan@freshcoastcapital.com') ryan (at) freshcoastcapital.com
            |. 
