extends layout

block content
	section.project-intro
		.grid
			.row-header
				.columns.small-12
					h2 Thank you for contacting us
			.row
				.columns.small-12.medium-6.large-8
					p Thank you for contacting us. We appreciate your interest in Fresh Coast Capital and we will respond shortly. Want to learn more right away? 
						a(href='about-us/projects') Watch our video.