extends layout

block content
	section.project-intro
		.grid
			.row-header
				.columns.small-12
					h2 Thank you for contacting us
			.row
				.columns.small-12.medium-6.large-8
					p We appreciate your interest in Fresh Coast Capital. Someone will contact you with a response soon. In the meantime, head over to our 
						a(href='about-us/projects') Projects
						| &nbsp;page and watch our video about Fresh Coast's mission. 