//	section.tweets
//		.grid
//			.row-header
//				.columns.small-12
//					h2 Social Media
//			.row
//				each tweet in current_tweets
//					.columns.small-12.medium-12.large-4
//						p= tweet.text