.orbit {
	margin-top: 1rem;

	.orbit-previous, .orbit-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 10;
			padding: 2rem 1rem;
			color: #fefefe;
	}
	
	.orbit-caption {
    bottom: 1.5rem; 
    width: 50%;
    left: 2rem;
    border: 2px solid $site-blue;
		
		@include breakpoint(medium down) { 
			font-size: .75rem;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
}

.social-icons {
	p {
		font-size: 24px; 
		margin: 0 0 18px;
	}
}

section.divider {
	.row-header {
		border-bottom: 1px solid #fff;
	}
	h2, h3, h4, p {
		color: #fff;
		
		a {
			color: #fff;
			text-decoration: none;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.infographic {
	.icons {
		text-align: center;
	}
	.info-label {
		margin-top: 5px;
	}
	
	.tabs {
		border: none;
		margin: auto;
	}
	
	.tabs-content {
		border: none;
	}
	
	.tabs-panel {
		border-top: 1px solid #fff;
	}
	
	.graph-box {
		position: relative;
		margin-top: 24px;
		
		* {
			float: left;
		}
		
		.increase-arrow {
			width: 60px;
			height: 150px;
			margin-right: -3px;
			margin-left: -10px;
			margin-top: 10px;
		}
		
		.decrease-arrow {
			width: 60px;
			height: 150px;
			margin-left: -3px;
			transform: rotate(180deg);
		}
		
		.label {
			white-space: pre;
			line-height: 1.25;
			font-size: 22px;
			padding: 0;
			text-align: left;
			
			&:first-of-type {
				margin-right: 10px;
			}
			
			&:last-of-type {
				margin-left: 10px;
				vertical-align: bottom;
				margin-bottom: 0;
			}
		}
		
		.callout-box {
			width: 40%;
			float: left;
			margin-left: 15px;
		}
	}
}