.orbit {
	margin-top: 1rem;

	.orbit-previous, .orbit-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 10;
			padding: 2rem 1rem;
			color: #fefefe;
	}
	
	.orbit-caption {
    bottom: 1.5rem;
    width: 50%;
    left: 2rem;
    border: 2px solid $site-blue;
	}
}

section {
	&.divider {
    border-bottom: 4px solid #fff;
    background-color: $site-blue;
    padding: 1rem 0 2rem;
	
		& + * {
			padding: 3rem 0;
			border-top: 4px solid $site-blue;
		}
	}
	
 	.row-header {
		@extend .row;
		border-bottom: 1px solid $site-green;
		margin-bottom: 1rem;
	}
	
	
}