.header-subtitle {
  padding-top: 40px;
  margin-bottom: 0;
  font-weight: bold;
  color: $site-blue;
}

.center {
	text-align: center;
	margin: 0;
}

.orbit {
	margin-top: 1rem;
	height: 350px;
	overflow: hidden;

	.orbit-previous, .orbit-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 10;
			padding: 2rem 1rem;
			color: #fefefe;
	}
	
	.orbit-caption {
      bottom: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      
      span {
        position: absolute;
        top: 50%;
		left: 50%;
        transform: translate(-50%, -50%);
		width: 50%;
      }
      
		
        @include breakpoint(medium down) { 
			font-size: .75rem;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
}

.social-icons {
	p {
		font-size: 24px; 
		margin: 0 0 18px;
	}
}

section.divider {
	.row-header {
		border-bottom: 1px solid #fff;
	}
	h2, h3, h4, p {
		color: #fff;
		
		a {
			color: #fff;
			text-decoration: none;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.infographic-divide {
	border-bottom: 4px solid #fff;
	margin: 24px 0 12px;
}

.green-circle-column {
	padding: 20px;
	
	img {
		margin-bottom: 20px;
	}
	
	p {
		font-size: 1.25em;
		margin-bottom: 30px;
	}
}


.infographic {
	
	.custom-list {
		
		li, i {
			color: #fff;
			font-size: 12px;
		}
		
		i {
			margin-right: .5rem;
		}
	}
	sup {
		float:none;
	}
	.icons {
		text-align: center;
	}
	.info-label {
		margin-top: 5px;
	}
	
	.tabs {
		border: none;
		margin: auto;
	}
	
	.tabs-content {
		border: none;
	}
	
	.tabs-panel {
		border-top: 1px solid #fff;
	}
	
	.tree-plantings-chart:last-child {
		@include breakpoint(medium only) {
			float: left;
			clear: both;
		}
	}
	
	label {
		font-weight: bold;
		color: #fff;
	}
	.graph-box {
		position: relative;
//		margin-top: 24px;
		min-height: 225px;
		
//		@include breakpoint(small) {
//			text-align: center;
//		}
		
		.images {
			text-align: center;
			
			@include breakpoint(small only) {
				float: left;
				clear: both;
				width: 100%;
				display: block;
				padding: 0 0 10px;
			}
		}
		.increase-arrow {
			width: 60px;
			height: 150px;
			margin-right: -3px;
			margin-left: -10px;
			margin-top: 10px;
			
			
			@include breakpoint(small only) {
//				float: left;
//				clear: both;
//				width: 30px;
//				height: 75px;
//				margin-right: 0;
			}
		}
		
		.decrease-arrow {
			width: 60px;
			height: 150px;
			margin-left: -3px;
			transform: rotate(180deg);
			
			
			@include breakpoint(small only) {
//				width: 30px;
//				height: 75px;
//				margin-left: 0;
//				float: left;
			}
		}
		&.house-holder {
			@include breakpoint(small only) {
				text-align: center;
			}
		}
		.label {
			white-space: pre;
			line-height: 1.25;
			font-size: 22px;
			padding: 0;
			width: 100%;
			text-align: center;	
			
			&:first-of-type {
				margin-right: 10px;
			}
			
			&:last-of-type {
				margin-left: 10px;
				vertical-align: bottom;
				margin-bottom: 0;
			}
			@include breakpoint(medium only) {
				text-align: center;
				width: 100%;
			}
			
			@include breakpoint(small only) {
				font-size: 16px;
				
				float: left;
			}
		}
	}
	aside.caption {
		color: #fff;
		border-top: 1px solid #fff;
		border-bottom: 4px solid #fff;
		padding: 10px 0;
		margin: 10px 0;
	}
}