.solutions.content {


  h1 {
    color: $site-white;
  }

  .solutions-header {
    color: $site-green;
  }

  .services-header {
    height: 4.5rem;

    h4 {
      color: $black;
      font-weight:bold;
    }
  }

  .contact-us {
    margin-top: 2rem;
  }
}
